@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 400px;
    background-color: #232931;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.left-info{
    width: 260px;
    height: 100%;
    float: left;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background: url("https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/378584567_2653184181495239_2998080724688031227_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFVIjsvCjNnMcIzG_5uAjWjp90qExGBuwKn3SoTEYG7Akm4WV-V5u6pO72pD8AVhLGtGgmXS6QmgMvVG3Jn-u6a&_nc_ohc=0HreCcH_HXMAX_nDBFR&_nc_ht=scontent.fhan20-1.fna&oh=00_AfB_yayYrxLzePN8_j7bM_nwjWqPfC5xZmAkeT5k3hvdfA&oe=65460276");
    background-position: center;
    background-size: cover;
    transform: scale(1.03) perspective(200px);
    cursor: pointer;
    box-shadow: 0 0 20px -10px ;
    transition: all 0.3s ease;
}

.left-info:hover{
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
}

.pic-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: linear-gradient(135deg, #5c6bc0 10%, #f2f7fd 100%); */
    border-radius: 25px;
    opacity: 0.5;
}

.today-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.today-weather{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 20px;
    left: 20px;
}

.today-weather .bx{
    font-size:3rem;

}

.weather-temp{
    font-weight: 200;
    font-size: 2rem;
}

.right-info{
    float: right;
    position: relative;
    width: 350px;
    height: 100%;
    padding-top: 25px;
}

.day-info{
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.day-info div:not(:last-child){
    margin-bottom: 6px;
}

.day-info div .title{
    font-weight: 700;
}

.day-info div .value{
    float: right;
}

.days-list{
    display: flex;
    list-style: none;
    background: url(https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/275289270_2206240296189632_5112501205351639107_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGDiZRIys6FTsFMaJJQ7Vnf2aNX3LC_j9fZo1fcsL-P166UXHITvRmQoYihmbATZfFwmTU_VbOzNaQnxoo5s8ls&_nc_ohc=kCsq8LcK-5YAX_wFcEq&_nc_ht=scontent.fhan20-1.fna&oh=00_AfAs-oqShYRAUlE8SWEg-c0Zfo8BeTHqZ3BFxMTaDHH0jA&oe=65462ADD);
    background-position: center;
    background-size: cover;
    margin: 10px 35px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

.days-list li{
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.days-list li .bx{
    margin-bottom: 5px;
    font-size: 2rem;
}

.days-list li:hover{
    transform: scale(1.1);
    background: #fff ;
    color: #222831;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.days-list li .day-temp{
    margin-top: 6px;
    font-weight: 700;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-container-item{
    padding-top:30px ;
    height: 30px;
    width: 50px;
    margin-right: 40px ;
}


.loc-button{
    outline: none;
    width: 30px;
    border: none;
    font-weight: 700;
    font-size: small;
    border-radius: 15px;
    padding: 15px;
    margin-left: 16px ;
    background: #5e5d5d;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

.loc-button:hover{
    background: #afaeb3;
}